.experience-wrapper {
  /* background-color: rgb(196, 208, 240); */
  /* background-color: rgb(224, 240, 255); */
  /* background-color: rgb(176, 202, 226); dumb ann*/
  background-color: aliceblue;
  margin-top: 0px;
  padding-left: 10%;
  padding-right: 10%;
}

.experience {
  padding-top: 5%;
  padding-bottom: 5%;
  margin: auto;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}