
.projects-wrapper {
  /* background-color: rgb(212, 224, 255); */
  /* background-color: aliceblue; */
  background-color: white;
  margin-top: 0px;
  padding-left: 10%;
  padding-right: 10%;
}

.projects {
  padding-top: 5%;
  padding-bottom: 5%;
  margin: auto;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
}

.project-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 50px;
}
