.project-card {
  background-color: white;
  border-style: solid;
  border-radius: 7px;
  border-color: lightgrey;
  border-width: 1.5px;
  /* box-shadow: 2px 2px 6px rgb(59, 59, 59); */
  padding-left: 20px;
  padding-right: 20px;
  max-width: 350px;
  display: flex;
  flex-direction: column;
  transition: 0.3s;
  /* cursor: pointer; */ 
}

.project-card:hover {
  /* background-color: rgb(240, 240, 240); */
  background-color: rgb(247, 247, 247);
}

.project-card-pic {
  margin-top: 20px;
  /* margin-bottom: 20px; */
  /* margin-right: 20px; */
  width: 100%;
  max-width: 350px;
  object-fit: cover;
  height: auto;
}

.project-card-title {
  margin-bottom: -15px;
}

.project-card-buttons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 20px;
  gap: 20px;
}