html {
  scroll-behavior: smooth;
}

.App {
  text-align: center;
}

/* .App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
} */

.about-wrapper {
  /* background-color: antiquewhite; */
  /* background-color: aliceblue; */
  background-color: white;
  padding-left: 10%;
  padding-right: 10%;
  margin-bottom: 0px;
}

.about {
  padding-top: 5%;
  padding-bottom: 5%;
  margin: auto;
  max-width: 1200px;
  display: flex;
}

.about-desc {
  padding-right: 5%;
  padding-bottom: 5%;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.profile-pic {
  max-height: 35vh;
}

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
